<table class="table border justify-content-center">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Id</th>
      <th scope="col">Name</th>
      <th scope="col">Email</th>
      <th scope="col">Company</th>
      <th scope="col">Created At</th>
      <th scope="col">Modified At</th>
      <th scope="col">Edit</th>
      <th scope="col">Deletet</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let supplier of supplierList; index as i;">
      <td>{{i+1}}</td>
      <td>{{supplier.id}}</td>
      <td>{{supplier.name}}</td>
      <td>{{supplier.email}}</td>
      <td>{{supplier.company}}</td>
      <td>{{supplier.createdAt}}</td>
      <td>{{supplier.modifiedAt}}</td>
      <td>
        <!-- Button trigger modal -->
        <button (click)="onEditSupplier(supplier)" type="button" class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#editModal"><i
            class="bi bi-pen"></i></button>
      </td>

      <td><button (click)="onDeleteSupplier(supplier.id)" class="btn btn-outline-danger"><i class="bi bi-trash3"></i></button></td>
    </tr>
  </tbody>
</table>

<!-- Modal -->
<div class="modal fade" id="editModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Edit Supplier</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

        <form [formGroup]="selectedSupplierForm">

          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
            <input formControlName="id" type="text" class="form-control" placeholder="Enter id">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-person"></i></span>
            <input formControlName="name" type="text" class="form-control" placeholder="Enter Name">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-envelope"></i></span>
            <input formControlName="email" type="text" class="form-control" placeholder="Enter Email">
          </div>
          <div class="input-group mb-3">
            <span class="input-group-text" id="basic-addon1"><i class="bi bi-building"></i></span>
            <input formControlName="company" type="text" class="form-control" placeholder="Enter Company">
          </div>

        </form>


      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">
          Close
        </button>
        <button (click)="saveEditSupplier()" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>